<div class="component" *ngIf="book$ | async as book">
    <img [src]="book.volumeInfo.imageLinks.thumbnail" [alt]="book.volumeInfo.title">
    <div class="info">
        <div class="title">
            <h1>{{book.volumeInfo.title}}</h1>
            <h1>{{book.volumeInfo.subtitle}}</h1>
        </div>
        <p>Author(s): {{book.volumeInfo.authors}}</p>
        <p>Publisher: {{book.volumeInfo.publisher}}</p>
        <p>Publish Date: {{book.volumeInfo.publishedDate}}</p>
        <p *ngIf='book.volumeInfo.averageRating'>Rating:
            <app-rating [selectedStars]="book.volumeInfo.averageRating"></app-rating>
        </p>
        <p>Categories: {{book.volumeInfo.categories}}</p>
        <p>Total Pages: {{book.volumeInfo.pageCount}}</p>
        <p>Language: {{book.volumeInfo.language}}</p>
        <button>Like</button>
    </div>
</div>
