<div class="component">
  <div class="grid-container">
    <div class="grid-item" *ngFor="let book of books">
      <div class="container">
        <img [src]="book.imageLinks.thumbnail" [alt]="book.title">
        <div class="description">
          <h1>{{book.title}}</h1>
          <h1>{{book.subtitle}}</h1>
          <p>Author(s): {{book.authors}}</p>
          <p>Publisher: {{book.publisher}}</p>
          <p>Publish Date: {{book.publishedDate}}</p>
        </div>
      </div>
      <button>Like</button>
      <button [routerLink]="['/details']" routerLinkActive="active">Read More</button>
    </div>
  </div>
</div>
