<div class="component">
  <div class="grid-container" *ngIf="books$ | async as books">
    <div class="grid-item" *ngFor="let book of books">
      <div class="container">
        <img [src]="book.volumeInfo.imageLinks.thumbnail" [alt]="book.volumeInfo.title">
        <div class="description">
          <h1>{{book.volumeInfo.title}}</h1>
          <h1>{{book.volumeInfo.subtitle}}</h1>
          <p>Author(s): {{book.volumeInfo.authors}}</p>
          <p>Publisher: {{book.volumeInfo.publisher}}</p>
          <p>Publish Date: {{book.volumeInfo.publishedDate}}</p>
        </div>
      </div>
      <button>Like</button>
      <button [routerLink]="['/details/'] + book.id" routerLinkActive="active">Read More</button>
    </div>
  </div>
</div>
<div class="loader" *ngIf="loading">
  <app-loading>loading</app-loading>
</div>