@import "../../palette";

.component {
  height: 100%;

  .grid-container {
    width: 70%;
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;

    .grid-item {
      margin-bottom: 10px;
      padding: 30px;
      border-radius: 5px;
      background-color: $light-grey;
    
      &:nth-child(2n+1) {
        margin-right: 50px;
      }
      &:hover{
        background-image: linear-gradient(to bottom, rgb(241, 156, 30, 0.7) , rgb(240, 240, 240, 1));
      }

      .container {
        display: flex;
        justify-content: space-between;

          img {
          
          }

        .description {
          width: 300px;
          height: 200px;

          h1,
          p {
            font-family: 'Roboto Slab';
            font-size: 15px;
            color: $primary;
            margin: 5px;
          }

          p {
            font-size: 12px;
          }

          .info {
            width: 400px;
            height: 100px;
            overflow: hidden;
          }
        }
      }

      button {
        color: $white;
        background-color: $orange;
        border: 0px;
        height: 40px;
        width: 100px;
        border-radius: 2px;
        font-family: 'Roboto Slab';
        font-size: 15px;
        float: right;
        &:last-child{
        margin-right:10px;
        }
      }
    }
  }
}
