@import "../../palette";

header {
  height: 65px;
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  margin-bottom: 20px;
  .logo {
    margin-left: 0px;
    display: flex;
    align-items: flex-end;

    img {
      height: 100%;
    }

    span {
      font-family: 'Pacifico', serif;
      font-size: 20px;
      color: $orange;
    }
  }

  nav {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
      color: $white;
      text-decoration: none;
      font-size: 17px;
      font-family: 'Raleway', serif;
      font-weight: 550;

      &:hover {
        color: $orange;
      }

      &:focus {
        color: $orange;
      }
    }
  }
}
